# Libraries and Caches
node_modules/
__pycache__/
*.py[cod]
.venv/
venv/
.mypy_cache/
.pytest_cache/

# Ignore Rust build directory
target/

# White-list all compiled executables
!target/**/*.exe

# Ignore large intermediate build artifacts
*.pdb
*.lib
*.rlib
*.rmeta
*.d
*.exp
*.ilk
